

<!DOCTYPE html>
<html>
<head>
<title>Connect Working Professionals with Charities</title>
</head>
<body>
<h1>Connect Working Professionals with Charities</h1>
<p>
This application helps connect above average paid working professionals on LinkedIn with registered charities that offer donation matching.
</p>
<form action="/submit" method="post">
<label for="linkedin_url">LinkedIn Profile URL:</label>
<input type="text" id="linkedin_url" name="linkedin_url">
<br>
<label for="email">Email Address:</label>
<input type="email" id="email" name="email">
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>


